.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

.divButton, 
.divInput, 
.divSelect, 
.divInputLabel {
  display: flex;
  gap: 20px;
}